<footer class="footer">
  <div class="container">
    <img src="../../../assets/flogo.svg" alt="Логотип" class="logo">
    <div class="info">
      <a href="tel:+79034895666" class="phone">+79034895666</a>
      <p>Мы в социальных сетях</p>
      <div class="info__logo">
        <a class="social-logo"><img src="../../../assets/fvk.svg" alt="Вконтакте" class="flogo vk"></a>
        <a class="social-logo"><img src="../../../assets/fwu.svg" alt="WhatsUp" class="flogo"></a>
        <a class="social-logo"><img src="../../../assets/finsta.svg" alt="Instagram" class="flogo"></a>
      </div>

    </div>
  </div>
</footer>
