section {
  background-color: #121212;
}

h2 {
  margin: 0 auto;
  text-align: center;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  color: #F6F7EB;
  padding-top: 100px;
}
