header {
  width: 100%;
  position: absolute;
  z-index: 999;
  height: 80px;
  margin: 0;
  background: rgba(18, 18, 18, 0.9);
}

.header-block {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 165px 0;
}

img {
  width: 114px;
  height: 47px;
}

a {
  font-family: Raleway;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  color: #F6F7EB;
}
