<section class="contacts" id="contacts">
  <div class="container">
    <div class="text">
      <h2 class="text__title">КОНТАКТЫ:</h2>
      <div class="box">
        <h4 class="text__block">ВРЕМЯ РАБОТЫ</h4>
        <span class="text__paragraph">
          <p class="tx">с </p>
          <p class="text__strong">10:00 </p>
          <p class="tx">до </p>
          <p class="text__strong">22:00 </p>
          <p class="tx"> без выходных</p>
        </span>
      </div>
      <div class="box">
        <h4 class="text__block">НОМЕР ТЕЛЕФОНА:</h4>
        <a href="tel:+79034895666">+7 (903) 489-56-66</a>
      </div>
      <div class="box">
        <h4 class="text__block">СОЦИАЛЬНЫЕ СЕТИ:</h4>
        <div class="social">
          <a class="www" href="#"><img src="../../../../assets/vk.svg" alt="" class="vk logo"></a>
          <a class="www" href=""><img src="../../../../assets/wu.svg" alt="" class="wazzzup logo"></a>
          <a class="www" href=""><img src="../../../../assets/insta.svg" alt="" class="insta logo"></a>
        </div>
      </div>
    </div>
    <img src="../../../../assets/contacts.png" alt="Контакты" class="img">
  </div>
</section>
