<div class="intro">
  <div class="intro-block">
    <div class="intro-cover">
      <h1 class="title">«Ключи срочно» - быстро и качественно</h1>
      <p class="text">Eсли Вы не можете попасть в собственную квартиру, офис или автомобиль,
        необходимость в хорошем специалисте, возникает особенно остро. И лучший ответ на
        вопрос «Где сделать ключи в Таганроге?» – это обратиться к нам!</p>
      <div class="button"><a href="tel:+79034895666">ПОЗВОНИТЬ</a></div>
    </div>
  </div>

</div>
