@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;900&display=swap');


html {
  width: 100%;
  background-color: #2D2D2D;
  margin: 0 auto;
}

body {
  width: 1500px;
  position: relative;
  margin: 0 auto;
}
